<p id="notice"><%= notice %></p>

<h1>Volunteer Signup Shifts</h1>
<button class="btn btn-default  shift-buttons active">All Available</button>
<button class="btn btn-default shift-buttons">Before Race-day / Setup</button>
<%= link_to 'Marshall', fetch_shifts_path(shift_type: 'marshall'), remote: true, class: 'btn btn-default shift-buttons' %>
<button class="btn btn-default shift-buttons">Registration</button>
<button class="btn btn-default shift-buttons">Breakdown / Day After</button>
<hr>
<div id="shifts-table">
  <%= render 'shared/shift_table', shifts: @shifts %>
</div>
<%= render 'shared/edit_email_modal' %>
<br>
