/* General Styles for Volunteer Tsar site */

p.admin-info {
  float: right;
  display: inline;
}

/* Edit Signup Modal Styles */

.edit-modal-form {
  border: 1px solid #999999;
  border-radius: 3px;
  padding: 10px;
  margin: 15px;
  label#name-label {
    margin-right: 5px
  }
  input {
    width: 50%;
  }
  .modal-text-area {
    margin-top: 20px;
    label {
      margin-bottom: 5px;
    }
    textarea {
      width: 100%
    }
  }
}

/* Contact Page */

h3#contact {
  margin-left: 50px;
}

.contact-form {
  width: 40%;
  border: 1px solid #999999;
  border-radius: 3px;
  margin-left: 50px;
  .contact-form-header {
    border-bottom: 1px solid #999;
    height: 100%;
  }
  input, textarea {
    margin: 5px 10px;
    width: 95%
  }
  input#name {
    margin-top: 20px;
  }
  input#commit {
    margin-bottom: 20px;
  }
  h4 {
    margin: 10px;
  }
}

